.score-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  border: 1px solid;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #614bc3;
}
h2 {
  color: #614bc3;
  margin: 8px;
}
.congratz-text {
  font-size: 10vw;
}
.menu-btn {
  margin-top: 8px;
  width: 25vw;
  height: 8vh;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 2px 2px #614bc3;
  border-color: #614bc3;
  font-size: larger;
  font-weight: bold;
}
.menu-btn:hover {
  cursor: pointer;
  box-shadow: 4px 4px #614bc3;
}
.score-page-container:hover {
  box-shadow: 2px 2px 20px #614bc3;
}
@media (max-width: 767.98px) {
  .score-page-container {
    width: 60vw;
  }
  .menu-btn {
    width: 50vw;
  }
}
